<div class="center hero-unit">
    <h1>Welcome to one month rails! </h1>
    <p>Here you can learn <%= link_to 'One Month Rails',  "http://onemonthrails.com" %>
     </p>

    <p> <%= link_to 'Sign up now!',  "#" , class: "btn btn-large btn-primary" %> </p>
</div>